{% extends 'base.html' %} {% block content %}

<div id="container-box" class="ui center aligned grid">
  <div
    id="left-box"
    class="four wide computer three wide tablet six wide mobile column"
  >
    <h3 class="ui center aligned header">NAME</h3>
    <div class="ui segment">Content</div>
    <div class="ui segment">Content</div>
    <div class="ui segment">Content</div>
  </div>

  <div
    id="right-box"
    class="nine wide computer nine wide tablet six wide mobile column"
  >
    <h3 class="ui center aligned header">Posts</h3>
    <div class="ui segment">POSTS</div>
    <div class="ui segment">POSTS</div>
    <div class="ui segment">POSTS</div>
  </div>
</div>

{% endblock %}
