/* CLIENT COLORS */
/* 
#05040A - black
#35313f - post background grey
#592D3F - dark purple
#C62F2C - red
#FDFDFD - white
#B6ABB7 - grey

 */

#container-box {
  margin: 50px 0px;
}
#left-box {
}
#right-box {
}

#navbar,
#masthead,
#footer {
  background-color: #05040a;
}

.ui.center.aligned.header {
  color: #fdfdfd;
}
.ui.segment {
  background-color: #35313f;
}
.ui.inverted.button {
  background-color: #c62f2c;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.ui.inverted.segment .segment {
  color: #b6abb7;
}

/* SWIPER CSS */

.swiper-container {
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #05040a;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide .swiper-slide-active {
  max-width: 800px;
  max-height: 100%;
}
#carousel {
  min-width: 100%;
  object-fit: contain;
}

.fab {
  color: red;
  font-size: 50px;
}