/* CLIENT COLORS */
/* 
#05040A - black
#35313f - post background grey
#592D3F - dark purple
#C62F2C - red
#FDFDFD - white
#B6ABB7 - grey

 */

#container-box {
  margin: 50px 0px;
}
#left-box {
}
#right-box {
}

#navbar,
#masthead,
#footer {
  background-color: #05040a;
}

.ui.center.aligned.header {
  color: #fdfdfd;
}
.ui.segment {
  background-color: #35313f;
}
.ui.inverted.button {
  background-color: #c62f2c;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.ui.inverted.segment .segment {
  color: #b6abb7;
}

/* SEMANTIC CSS */
