{% extends 'base.html' %}
{% block content %}


<div id="container-box" class="ui center aligned stackable grid container">
    <form method="POST" action="{% url 'post_edit' post.id %}">
        {% csrf_token %} {% comment %} NEW SEMANTIC FORM {% endcomment %}
        <div class="ui equal width form error">
            <div class="field">
            <h3 class="ui center aligned header">Title</h3>
            <input type="text" value="{{post.title}}" name="title" />
            </div>
            <div class="field">
            <h3 class="ui center aligned header">Content</h3>
            <textarea cols="40" rows="10" name="content">{{post.content}}</textarea>
            </div>
        </div>
        {% if error_message %}
        <div class="ui error message">
            <div class="header">Action Forbidden</div>
            <p>{{error_message}}</p>
        </div>
        {% endif %}
        <div id="create_post" class="actions">
            <input type="submit" class="ui inverted button" value="Edit Post" />
        </div>
    </form>
</div>

{% endblock %}