{% extends 'base.html' %}
{% block content %}

<div id="container-box" class="ui center aligned stackable grid container">
    <div id="left-box" class="six wide computer three wide tablet six wide mobile column">
        <div  class="ui segment">
            <div class="segment">
                <div class="header">{{ post.title }}</div>
                <div class="meta">{{ user.username }}</div>
                <hr>
                <div class="description">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </div>
</div> 

{% if auth_user == post.user %}
    <a href="{% url 'post_edit' post_id=post.id %}" class="ui inverted button">Edit</a>
    <a href="{% url 'post_delete' post_id=post.id city_id=post.city_id %}?next={{next}}" class="ui inverted button">Delete</a>
{% endif %}


{% endblock %}