{% extends 'base.html' %} {% block content %}

<div id="container-box" class="ui center aligned stackable grid container">
  <div class="ten wide computer ten wide tablet ten wide mobile column">
    <div class="ui segment">
      <div class="segment">
        <div class="header">
          <h3>{{ post.title }}</h3>
        </div>
        <div class="meta">
          <p>Created By: {{ user.username }}</p>
        </div>
        <hr />
        <div class="ui segment description left aligned">
          <p>{{ post.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% if auth_user == post.user %}
<a href="{% url 'post_edit' post_id=post.id %}" class="ui inverted button"
  >Edit</a
>
<a
  href="{% url 'post_delete' post_id=post.id city_id=post.city_id %}?next={{next}}"
  class="ui inverted button"
  >Delete</a
>
{% endif %} {% endblock %}
